<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
    <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <address>
                        <strong>Үүлэн технологи ХХК</strong>
                        <br>
                        Улаанбаатар хот ЧД, 6-р хороо Их тойруу – 68/1 "LOGOS " 
                        <abbr title="Phone">Утас: </abbr> 7014411
                    </address>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 ">
                    <p>
                        <em>Огноо : 28th August, 2020</em>
                    </p>
                
                    <p >
                        ДДТД : 00000256452154153123
                            154121121267
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="text-center">
                    <h1>Бараа</h1>
                </div>
                </span>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Нэр</th>
                            <th>Тоо ширхэг</th>
                            <th class="text-center">Үнэ</th>
                            <th class="text-center">Дүн</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="col-md-9"><em>Ундаа </em></h4></td>
                            <td class="col-md-1" style="text-align: center"> 2 </td>
                            <td class="col-md-1 text-center">1500</td>
                            <td class="col-md-1 text-center">3000</td>
                        </tr>
                        <tr>
                            <td class="col-md-9"><em>Цуйван</em></h4></td>
                            <td class="col-md-1" style="text-align: center"> 1 </td>
                            <td class="col-md-1 text-center">5000</td>
                            <td class="col-md-1 text-center">5000</td>
                        </tr>
                        <tr>
                            <td class="col-md-9"><em>Хувцас</em></h4></td>
                            <td class="col-md-1" style="text-align: center"> 3 </td>
                            <td class="col-md-1 text-center">10000</td>
                            <td class="col-md-1 text-center">30000</td>
                        </tr>
                        <tr>
                           
                           
                            <td class="text-right">
                            <p>
                                <strong>нийт дүн: </strong>
                            </p>
                            <p>
                                <strong>Нөат: </strong>
                            </p></td>
                            <td class="text-center">
                            <p>
                                <strong>38000</strong>
                            </p>
                            <p>
                                <strong>340</strong>
                            </p></td>
                        </tr>
                        <tr>
                            
                            <td class="text-right"><h4><strong>Төлөх дүн: </strong></h4></td>
                            <td class="text-center text-danger"><h4><strong>38000</strong></h4></td>
                        </tr>
                    </tbody>
                </table>
               
                <div  class="col-xs-6" >
                    <img style="display: flex; flex: 1; width: 160px; height: 100px;" src="./img/qr.png">
            </div>
            <div  class="col-xs-6 col-sm-6 col-md-6 ">
                <p> Сугалааны дугаар:  DF1234567</p> 
                <p> Баримт бүртгүүлэх дүн: 38000</p> 
                <p> Бусад :   lorem10</p> 
                
        </div>

            </td>
            </div>

            <div  class="row">
                <div class="row"  style="display: inline-block; padding: 10px 50px;">
                    <br>
                    <p>
                        <em style="display: block; justify-content: center;"> Та бараагаа тухайн өдөртөө солих болон буцаах боломжтой</em>
                    </p>
                    <p style="display: flex; justify-content: center;">
                        <em> Баяралалаа CU-р дахин үйлчлүүлээрэй</em>
                    </p>
                </div>
                
        </div>

        </div>
    </div>